.tag_container {
    display: flex;
    flex-direction: row;
    background-color: #FF6060;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    margin-right: 5px;
}

.tag_text{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    padding: 3px 0 5px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.96px;
    letter-spacing: 0em;
    text-align: center;


}


