.title_container{
    left: 100px;
}

.title_text{
    font-family: Montserrat;
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
}