.host_container{
    display: flex;
    flex-direction: row;
}

.nomHost{
    width: 93px;
    height: 52px;
    top: 573px;
    left: 1170px;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    color: #FF6060;
    margin-right: 10px;
}

.photo{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

