body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", "Arial";
    height: 100%;
    width: 100%;

}

/* Pour les petits écrans (téléphones mobiles) */
@media only screen and (max-width: 480px) {
    #root {
        height: 100vh;
        width: 100vw;
    }
}

ul,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}