body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", "Arial";

    min-height: 100vh;
}

ul,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}