.banner_container {
  position: relative;
  text-align: center;


  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1240px;
  height: 223px;

  border-radius: 25px;
  z-index: 0;

  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;
}


.banner_container {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff !important;
  z-index: 1;
}



.banner_text {

  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;

  z-index: 1000;
}

.img-header{
  border-radius: 25px;
  //width: 100%;
  filter: brightness(0.8);
  //max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media all and (max-width: 450px) {
  .banner_container {
    //width: 100vw;
    //width: auto;
    height: 111px;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    font-size: 24px;
  }
.About .banner_container_about{
    //width: 100%;
    height: 223px;
    margin-left: 20px;
    margin-right: 19px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

  .banner_text {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 24px */
    max-width: 217px;
    text-align: left;
  }

  .img-header{
    //height: 100%;
    border-radius: 10px;
  }
}
