
.erreur_container{
  display: flex;
  flex-direction: column;
  //flex-shrink: 0;
  justify-content: center;
  align-items: center;
  //width: 1340px;
  width: 100%;
  //height: 1024px;
  height: 100vh;
  top: 2085px;
  left: -543px;
  background-color: white;

}


.erreur {
  //width: 597px;
  width: 80%;
  max-width: 597px;
  height: 263px;
  top: 277px;
  left: 432px;
  


  color: #FF6060;
  text-align: center;
  font-family: Montserrat bold;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
  //line-height: 142.6%; /* 410.688px */
  margin-bottom: 66px;
  

  &_oups {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 51.336px */
    margin-bottom: 182px;
    
    &_back{
        color: #ff6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 25.668px */
        text-decoration-line: underline;
    }
  }
}

@media (max-width: 600px) {
  .erreur {
    font-size: calc(1.75rem + 2vw);
  }

  .erreur_oups {
    font-size: calc(0.75rem + 1vw);
  }

  .erreur_oups_back {
    font-size: calc(0.375rem + 0.5vw);
  }
}
